<%- include("./partials/header"); %>
<body>
  <%- include("./partials/navbar"); %> 

  <div class="container">
    <br>
    <a href="/" class="btn btn-secondary" role="button">Voltar</a>
    
    <hr>
    <h1><%= question.title; %></h1>
    <hr>
    <p><%= question.description; %></p>
    <p style="text-align: right;"><b>Publicada em: </b><%= question.createdAt; %></p>
    <hr>

    <form method="POST" action="/new-response">
      <div class="form-group">
        <label for="body"><h3>Responda</h3></label>
        <textarea class="form-control" placeholder="Digite sua resposta" name="body" rows="5"></textarea>
      </div>
      <input type="hidden" name="questionId" value="<%= question.id; %>">
      <button type="submit" class="btn btn-primary">Responder</button>
    </form>

    <hr style="border: 1px solid black;">
    <p><h3>Respostas</h3></p>

    <% responses.forEach(response => { %>
      <div class="card" style="margin-left: 1rem;">
        <div class="card-body">
          <p><%= response.body; %></p>
        </div>
        <div class="card-footer">
          <p><%= response.createdAt %></p>
        </div>
      </div>
      <br>
    <% }) %>  
  </div>

</body>
<%- include("./partials/footer"); %>  